* {
	box-sizing: border-box;
}

body {
	font-family: 10px Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
	background-color: #492e4e;
	padding: 10px;
	text-align: center;
	font-size: 35px;
	color: #efff71;
}



article {
	float: left;
	width: 100%;
	background-color: #000000;
	min-height: 400px; /* only for demonstration, should be removed */
	height: 100%;
}

div.wrap{
	margin: auto;
    width: 50%;
    min-height: 500px;
    background-color: #fdf2ff;
    padding: 50px;
   
  
}

h3.h3_text{
font-size: 40px;
    color: #100000;
    text-align: center;
}

form{
	font-size: 13px;
}

form.form_text{
font-size: 20px;
    color: #100000;
    text-align: center;
    padding: 30px;
    margin: 20px;
}

form.form_form{
font-size: 20px;
    color: #100000;
    text-align: center;
}

p.p_text{
font-size: 20px;
    color: #100000;
    text-align: center;
}

/* Clear floats after the columns */
section:after {
	content: "";
	display: table;
	clear: both;
}

section{
	background-color: #ccc;
}

/* Style the footer */
footer {
	background-color: #000;
	padding: 10px;
	text-align: right;
	color: white;
}

input {
	margin-bottom: 10px; 
}
/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media ( max-width : 600px) {
	article {
		width: 100%;
		height: 100%;
	}
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

ul.mm{
	background-color: #0e0e0e;
}

ul.mm li {
	float: left;
}

ul.mm li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.mm li a:hover {
	background-color: #111;
}

.pagination li{
	float: left;
	margin: 5px;
}

.cm_list{
	width: 100%;
    text-align: center;
}

.cm_boardview{
	width: 100%;
    padding: 10px;
    margin: auto;
}

.cm_view{
		width: 100%;
    text-align: center;
}

.cm_boardlist{
		width: 100%;
    text-align: center;
}

.cm_login{
		width: 100%;		
    text-align: center;
  
}
.cm_insert{
	width: 100%;		
    text-align: center;
}
.cm_mupdate{
	width: 100%;		
    text-align: center;
}
}
